.query{
 width: 100%;
 height: 60px;
} 
.bs-example{
padding: 30px 30px;
}
#session1{
 width: 100%;
 height:400px;
 padding: 25px 30px;
}

 .skip{
	width: 60px;
	display: inline;
}
.pagePosition{
	margin-top:30px;
	margin-left: -10%;
	display: none;
}
.back{
	cursor: pointer;
}
 