.query{
 width: 100%;
 height: 60px;
}
#session1{
 width: 100%;
 height:400px;
 padding: 5px 30px;
}

 .form-inline{
 margin-top:  20px;
 margin-left: 20px;
 padding: 10px 20px;
 }
 
 .row{
 padding: 5px 0;
 }
 
.headers
{
	background-color: #94F2C9;
}

.pagePosition li a{
	cursor: pointer;
}
.del{
	cursor: pointer;
	margin-left: 20px;
}
.detail{
	cursor: pointer;
}